
@font-face {
    font-family: Righteous-Regular;
    src: url("../../assets/font/Righteous-Regular.ttf");
}
body {
    font-family: Righteous-Regular;
    font-size: 28px;
}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title {
    text-align: center;
    margin: 70px 0px 60px 0px;
}
.food-img, .drinks-img {
    width: 260px;
    height: 166px;
    border-radius: 100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}
.or {
    margin: 1rem 0;
}
hr {
    margin: 5vh auto 4vh;
    width: 50vw;
    background-color: #F4F3F3;
    border: 2px solid #F4F3F3;
    border-radius: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 40px;
    }
    .title {
        text-align: center;
    }
    .food-img, .drinks-img {
        width: 380px;
        height: 220px;
    }
}
@media (min-width: 1024px) {
    .title {
        margin-top: 3.5%;
    }
    hr {
        margin: 21vh auto 2vh;
        width: 30vw;
    }
    .container {
        flex-direction: row;        
        justify-content: space-evenly;
    }
}